* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
}

/* Common */
a {
  text-decoration: none;
}
.btn {
  width: 118px;
  padding: 17px 0;
  background-color: #171100;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 999px;
}

main {
  width: 100%;
  height: 500vh;
}

.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fffcf4;
}
.navbar .content {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffcf4;
}

.navbar .lesson {
  width: 50%;
  max-width: 50%;
}

.navbar .lesson {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #171100;
}

.navbar .lesson span:last-child {
  color: #ffb900;
}

.navbar .actions {
  width: 50%;
  max-width: 50%;

  display: flex;
  justify-content: space-between;
}

.navbar .actions ul {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navbar .actions ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5f5b53;
}

.navbar .actions ul li:first-child a {
  position: relative;
  font-weight: 600;
  color: #171100;
}

.navbar .actions ul li:first-child a::before {
  position: absolute;
  content: "";
  background-color: #171100;
  top: 20px;
  left: 0;
  height: 2px;
  width: 12px;
}

.navbar .actions .btn {
  width: 144px;
}

.header {
  background-color: #fffcf4;
  padding-top: 64px;
}

.header .content {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
}

.header .header-courses {
  position: relative;
  width: 49%;
}

.header-courses .courses {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;

  right: 0;
  top: 393px;
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.header-courses .courses .courses {
  margin-top: 28px;
  margin-left: 24px;
}

.header-courses .courses .item {
  display: flex;
  padding-left: 22px;
}

.header-courses .courses .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 999px;
}

.header-courses .courses .item .course-info .count {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;

  color: #5f5b53;
}

.header-courses .courses .item:nth-child(1) .icon {
  background: #fff9e8;
}
.header-courses .courses .item:nth-child(2) .icon {
  background: #fcefff;
}
.header-courses .courses .item:nth-child(3) .icon {
  background: #ebeaff;
}

.item .course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.header-courses .courses .item .icon img {
  width: 24px;
  height: 24px;
}
.header .header-courses img {
  width: 470px;
  height: 685px;
}

.header .header-info {
  width: 470px;
  max-width: 470px;
}

.header-info .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
  margin-bottom: 22px;
  margin-top: 64px;
}

.header-info .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-bottom: 38px;
}

.btn-see-course {
  display: inline-block;
  background-color: #ffb900;
  padding: 24px 0;
  width: 180px;
  margin-right: 28px;
}

.header-action .img-play {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.header-action .play span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.header-stats .sub-title {
  margin-top: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.header-stats .stats {
  margin-top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.header-stats .stats .count {
  margin-right: 28px;
}

.header-stats .stats .count span:first-child {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.23;
  color: #171100;
  margin-right: 10px;
}

.popular-courses {
  background: #fff;
}

.popular-courses .content {
  width: 1170px;
  min-width: 1170px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.popular-courses .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .content .row .popular-course-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-courses .content .row .popular-course-header .sub-title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
  margin-bottom: 16px;
}

.popular-courses .content .row .popular-course-header .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  display: inline-block;
  max-width: 458px;
}

.popular-courses .content .row .nav {
  display: flex;
  gap: 18px;
}

.popular-courses .content .row .item {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  max-width: 370px;
  width: 370px;
  height: 466px;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  overflow: hidden;
}

.popular-courses .content .row .item .img {
  width: 370px;
  height: 278px;
  object-fit: cover;
}

.popular-courses .content .row .item .course-desc {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 22px;
}

.popular-courses .content .row .item .course-name {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.popular-courses .content .row .item .course-name h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular-courses .content .row .item .course-name .rate span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}

.popular-courses .content .row .item .course-desc .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.popular-courses .content .row .item .course-desc .book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.popular-courses .content .row .item .course-desc .book .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular-courses .content .row .item:nth-child(1) .btn {
  background-color: #fea31b;
}

.footer {
  background: #2e2100;
}

.footer .content {
  background: #2e2100;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 28px;
  width: 1170px;
  max-width: 1170px;
}

.footer .row1 {
  display: flex;
  justify-content: space-between;
}

.footer .row1 .lesson {
  min-width: 267px;
  width: 267px;
}

.footer .row1 .lesson .logo {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #ffffff;
}

.footer .row1 .lesson .logo span {
  color: #ffb900;
}

.footer .row1 .lesson .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  margin-top: 18px;
}

.footer .row1 .lesson .social-networks {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.footer .company,
.footer .support,
.footer .address {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer .company::before,
.footer .support::before,
.footer .address::before {
  content: "";
  width: 130px;
  height: 1px;
  background: #59554b;
  position: absolute;
  top: 40px;
  left: 0;
}

.footer .company {
  width: 130px;
}

.footer .support {
  width: 137px;
}

.footer .company h3,
.footer .support h3,
.footer .address h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
  margin-bottom: 43px;
}

.footer .company a,
.footer .support a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .address {
  width: 231px;
  min-width: 231px;
}

.footer .address p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.88;
  color: #bfbcb2;
}

.footer .address p span {
  font-weight: 600;
  color: #ffffff;
}

.footer .separate-line {
  margin-top: 38px;
  height: 1px;
  background: #59554b;
}

.footer .copyright {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
  margin-top: 28px;
}
